﻿<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <title>//build</title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="less/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="page-header">
            //build/
        </header>
        <input class="form-control" name="name" value="" ng-model="text" />
        <blockquote>
            {{text}}
        </blockquote>
    </div>
    <script src="lib/angular/angular.min.js"></script>
</body>
</html>